{{episode.description|linebreaksbr|safe}}

With {{ crate::template::and_names(episode.guests)}}
{%- match episode.organization -%}
    {%- when Some with (org) -%}
        {{' '}}from {{ org.name }}
    {%- when None -%}
{%- endmatch -%}
.

EPISODE LINKS
{%- set transcript_url = crate::template::get_transcript_url(episode, podcast_info) %}
- Full transcript: <a href="{{transcript_url}}">{{transcript_url}}</a>
{%- for link in episode.links %}
- {{link.text}}: <a href="{{link.href}}">{{link.href}}</a>
{%- endfor %}

PODCAST LINKS
{%- for link in podcast_info.links %}
- {{link.text}}: <a href="{{link.href}}">{{link.href}}</a>
{%- endfor %}

OUTLINE
{%- for entry in outline %}
({{entry.time_code }}) - {{entry.text}}
{%- endfor %}